* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: lightcoral;
}

a:visited {
    color: darkred;
}

a .button-person-font {
    font-size: 20px;
}

.main-home {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    padding: 0;
    background: #ebebeb;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 85%, 50% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 85%, 50% 100%, 0 100%);
}

.main-header {
    border-bottom: solid 1px red;
    margin-left: 0;
    margin-right: 0;
    height: 20%;
}

.button-person {
    border: 1px solid white;
    border-radius: 5px;
    height: 10%;
    margin-bottom: 4px;
    font-size: 20px;
}

.button-mentor {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 4px;
    color: white;    
}

.button-mentor a {
    margin-top: auto;
}